= form_for [@question, @answer] do |f|
	- if @answer.errors.any?
		#error_explanation
			%h2= "#{pluralize(@answer.errors.count, "error")} prohibited this answer from being saved:"
			%ul
				- @answer.errors.full_messages.each do |message|
					%li= message
	.field.border-bottom.pb-5 
		= f.trix_editor :body, rows:"50", class: 'form-control '
	.actions.mt-4.text-center
		= f.submit 'Publicar respuesta',class:'btn btn-outline-primary'