.container
  -if @tagQuestions != nil && @tagQuestions.questions != []
    .row.mt-3.justify-content-center
      .col-5.categorys
        %ul.nav.nav-tabs.border-bottom-0.mt-5{:role => "tablist"}
          %li.nav-item.w-100.text-center
            %a.nav-link.active.border-left-0.font-weight-bold{"data-toggle" => "tab", :href => "#home"} Resultados de la busqueda
      .col-4.text-right.mt-2
        = link_to new_question_path do
          %button.btn.btn-primary.mt-0.p-2.rounded-0{:type => "button"}
            Formular pregunta
    .row.justify-content-center
      .col-9
        .tab-content          
          %table.table#popularquestions.bg-white
            %tbody
              -@taggy = @tagQuestions.questions.paginate(page: params[:page], per_page: 5)
              - @taggy.each do |question|
                -@question_votes = Vote.where({votable_type: :Question, votable_id:question.id})
                -@question_votes = @question_votes.select{|vote| vote.vote_flag}.size - @question_votes.select{|vote| !vote.vote_flag}.size
                %tr.border-top-0
                  -if @question_votes  < 0
                    %td.align-middle.text-center.pb-0
                      %h6.d-inline-block.text-danger.mr-3.p-2.border.border-danger
                        = @question_votes
                        .small
                          votos
                      %h6.d-inline-block.text-secondary.ml-3
                        = question.answers.length
                        .small
                          respuestas
                  -elsif @question_votes  > 0
                    %td.align-middle.text-center.pb-0
                      %h6.d-inline-block.text-success.mr-3.p-2.border.border-success
                        = @question_votes
                        .small
                          votos
                      %h6.d-inline-block.text-secondary.ml-3
                        = question.answers.length
                        .small
                          respuestas
                  - else
                    %td.align-middle.text-center.pb-0
                      %h6.d-inline-block.text-secondary.mr-3
                        = @question_votes
                        .small
                          votos
                      %h6.d-inline-block.text-secondary.ml-3
                        = question.answers.length
                        .small
                          respuestas
                  %td.pb-0
                    %h5
                      =link_to truncate(question.title, length:60), question
                    .row
                      .col-7
                        - 0.upto(question.question_tags.size)  {|index|
                        -  if index>5
                          - break  
                        -  elsif(question.question_tags[index]!=nil)
                          %span.tagstyle.p-1.mr-1
                            =question.question_tags[index].tag.name
                        - }
                      .col-5.text-right
                        - if question.created_at > 1.day.ago
                          %p.small="Hace 1 dia por #{question.user.first_name} #{question.user.last_name}" 
                        - else   
                          %p.small= "Hace  #{time_ago_in_words(question.created_at.utc.to_i)} por #{question.user.first_name} #{question.user.last_name}"
    .row
      .col-12
        = will_paginate @taggy, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
  -elsif params[:search] == nil
    .row.mt-3.justify-content-center
      .col-5.categorys
        %ul.nav.nav-tabs.border-bottom-0.mt-5{:role => "tablist"}
          %li.active.nav-item.w-50.text-center
            %a.nav-link.active.border-left-0{"data-toggle" => "tab", :href => "#home"} Populares
          %li.nav-item.w-50.text-center
            %a.nav-link{"data-toggle" => "tab", :href => "#menu1"} Recientes
      .col-4.text-right.mt-2
        = link_to new_question_path do
          %button.btn.btn-primary.mt-0.p-2.rounded-0{:type => "button"}
            Formular pregunta
    .row.justify-content-center
      .col-9
        .tab-content
          #home.tab-pane.fade.in.active.show            
            %table.table#popularquestions.bg-white
              %tbody
                - @questions.each do |question|
                  -@question_votes = Vote.where({votable_type: :Question, votable_id:question.id})
                  -@question_votes = @question_votes.select{|vote| vote.vote_flag}.size - @question_votes.select{|vote| !vote.vote_flag}.size
                  %tr.border-top-0
                    -if @question_votes  < 0
                      %td.align-middle.text-center.pb-0
                        %h6.d-inline-block.text-danger.mr-3.p-2.border.border-danger
                          = @question_votes
                          .small
                            votos
                        %h6.d-inline-block.text-secondary.ml-3
                          = question.answers.length
                          .small
                            respuestas
                    -elsif @question_votes  > 0
                      %td.align-middle.text-center.pb-0
                        %h6.d-inline-block.text-success.mr-3.p-2.border.border-success
                          = @question_votes
                          .small
                            votos
                        %h6.d-inline-block.text-secondary.ml-3
                          = question.answers.length
                          .small
                            respuestas
                    - else
                      %td.align-middle.text-center.pb-0
                        %h6.d-inline-block.text-secondary.mr-3
                          = @question_votes
                          .small
                            votos
                        %h6.d-inline-block.text-secondary.ml-3
                          = question.answers.length
                          .small
                            respuestas
                    %td.pb-0
                      %h5
                        =link_to truncate(question.title, length:60), question
                      .row
                        .col-7
                          - 0.upto(question.question_tags.size)  {|index|
                          -  if index>5
                            - break  
                          -  elsif(question.question_tags[index]!=nil)
                            %span.tagstyle.p-1.mr-1
                              =question.question_tags[index].tag.name
                          - }
                        .col-5.text-right
                          - if question.created_at > 1.day.ago
                            %p.small="Hace 1 dia por #{question.user.first_name} #{question.user.last_name}" 
                          - else   
                            %p.small= "Hace  #{time_ago_in_words(question.created_at.utc.to_i)} por #{question.user.first_name} #{question.user.last_name}"
          
          #menu1.tab-pane.fade  
            %table.table#popularquestions.bg-white
              %tbody
                - @lastQuestions.each do |question|
                  -@question_votes = Vote.where({votable_type: :Question, votable_id:question.id})
                  -@question_votes = @question_votes.select{|vote| vote.vote_flag}.size - @question_votes.select{|vote| !vote.vote_flag}.size
                  %tr.border-top-0
                    -if @question_votes  < 0
                      %td.align-middle.text-center.pb-0
                        %h6.d-inline-block.text-danger.mr-3.p-2.border.border-danger
                          = @question_votes
                          .small
                            votos
                        %h6.d-inline-block.text-secondary.ml-3
                          = question.answers.length
                          .small
                            respuestas
                    -elsif @question_votes  > 0
                      %td.align-middle.text-center.pb-0
                        %h6.d-inline-block.text-success.mr-3.p-2.border.border-success
                          = @question_votes
                          .small
                            votos
                        %h6.d-inline-block.text-secondary.ml-3
                          = question.answers.length
                          .small
                            respuestas
                    - else
                      %td.align-middle.text-center.pb-0
                        %h6.d-inline-block.text-secondary.mr-3
                          = @question_votes
                          .small
                            votos
                        %h6.d-inline-block.text-secondary.ml-3
                          = question.answers.length
                          .small
                            respuestas
                    %td.pb-0
                      %h5
                        =link_to truncate(question.title, length:60), question
                      .row
                        .col-7
                          - 0.upto(question.question_tags.size)  {|index|
                          -  if index>5
                            - break  
                          -  elsif(question.question_tags[index]!=nil)
                            %span.tagstyle.p-1.mr-1
                              =question.question_tags[index].tag.name
                          - }
                        .col-5.text-right
                          - if question.created_at > 1.day.ago
                            %p.small="Hace 1 dia por #{question.user.first_name} #{question.user.last_name}" 
                          - else   
                            %p.small= "Hace  #{time_ago_in_words(question.created_at.utc.to_i)} por #{question.user.first_name} #{question.user.last_name}"
          
  - elsif @findQuestions == []
    .row.mt-5
      .col-1
      .col-10.text-center
        .card.text-white#popular
          %h5.mt-1.font-weight-bold
            Resultados de la búsqueda
    .row.justify-content-center
      .col-10
        .card.imageContainer
          .row.justify-content-center
            .col-6.text-center
              %h5.font-weight-bold.mt-5
                No hubo resultados en la búsqueda
              %img.img-fluid(src="https://d30y9cdsu7xlg0.cloudfront.net/png/1635-200.png" alt="")
              %p
                También puede realizar búsquedas por etiquetas.
  - else
    .row.mt-3.justify-content-center
      .col-5.categorys
        %ul.nav.nav-tabs.border-bottom-0.mt-5{:role => "tablist"}
          %li.nav-item.w-100.text-center
            %a.nav-link.active.border-left-0.font-weight-bold{"data-toggle" => "tab", :href => "#home"} Resultados de la busqueda
      .col-4.text-right.mt-2
        = link_to new_question_path do
          %button.btn.btn-primary.mt-0.p-2.rounded-0{:type => "button"}
            Formular pregunta
    .row.justify-content-center
      .col-9
        %table.table#popularquestions.bg-white
          %tbody
            - @findQuestion.each do |question|
              -@question_votes = Vote.where({votable_type: :Question, votable_id:question.id})
              -@question_votes = @question_votes.select{|vote| vote.vote_flag}.size - @question_votes.select{|vote| !vote.vote_flag}.size
              %tr.border-top-0
                -if @question_votes  < 0
                  %td.align-middle.text-center.pb-0
                    %h6.d-inline-block.text-danger.mr-3.p-2.border.border-danger
                      = @question_votes
                      .small
                        votos
                    %h6.d-inline-block.text-secondary.ml-3
                      = question.answers.length
                      .small
                        respuestas
                -elsif @question_votes  > 0
                  %td.align-middle.text-center.pb-0
                    %h6.d-inline-block.text-success.mr-3.p-2.border.border-success
                      = @question_votes
                      .small
                        votos
                    %h6.d-inline-block.text-secondary.ml-3
                      = question.answers.length
                      .small
                        respuestas
                - else
                  %td.align-middle.text-center.pb-0
                    %h6.d-inline-block.text-secondary.mr-3
                      = @question_votes
                      .small
                        votos
                    %h6.d-inline-block.text-secondary.ml-3
                      = question.answers.length
                      .small
                        respuestas
                %td.pb-0
                  %h5
                    =link_to truncate(question.title, length:60), question
                  .row
                    .col-7
                      - 0.upto(question.question_tags.size)  {|index|
                      -  if index>5
                        - break  
                      -  elsif(question.question_tags[index]!=nil)
                        %span.tagstyle.p-1.mr-1
                          =question.question_tags[index].tag.name
                      - }
                    .col-5.text-right
                      - if question.created_at > 1.day.ago
                        %p.small="Hace 1 dia por #{question.user.first_name} #{question.user.last_name}" 
                      - else   
                        %p.small= "Hace  #{time_ago_in_words(question.created_at.utc.to_i)} por #{question.user.first_name} #{question.user.last_name}"
    .row
      .col-12
        = will_paginate @findQuestions, renderer: WillPaginate::ActionView::BootstrapLinkRenderer