.container
  .row.mt-5
    .col-8
      .max
        %h4.border-bottom.pb-3.mb-5.max
          = @question.title.capitalize
      .row.card.noblanco.pb-2
        .row.pt-3
          .col-1.text-right
            .row.pt-2
            = link_to(:controller => "questions", :action => "upvote", :id => @question) do
              = icon(@tu_class, 'thumbs-up', class:"text-success")
            
            .row.pt-2
            %h3.text-secondary
              = @question_votes
            .row.pt-0
            = link_to(:controller => "questions", :action => "downvote", :id => @question) do
              = icon(@td_class, 'thumbs-down',class:"text-danger")
            .row
            -if user_signed_in?
              -if current_user.id == @question.user.id
                = link_to edit_question_path(@question) do
                  = icon("far", "edit", class:"iconoedit")
              
          .col-9.max.mb-0
            = sanitize(@question.body).html_safe
          .col-11.text-right.mt-0
            .small
              = @question.user.first_name + " " + @question.user.last_name
      -if @answers.length>0
        %h4.pt-4.border-bottom.pb-3  
          = @answers.length
          - if  @answers.length>1
            Respuestas
          - else 
            Respuesta
        - @answers.each do |answer|
          .row.card.mt-3.noblanco.pb-2
            .row.pt-4
              .col-1.text-right
                .row.pt-2
                  -@vote = Vote.find_by({votable_type: "Answer",votable_id: answer.id,voter_id:current_user.id}) if(current_user)
                  -if(@vote)
                    -if(@vote.vote_flag)
                      -@td_class_answer = 'far'
                      -@tu_class_answer = 'fas'
                    -else 
                      -@td_class_answer = 'fas'
                      -@tu_class_answer = 'far'
                  -else
                    -@td_class_answer = 'far'
                    -@tu_class_answer = 'far'
                = link_to(:controller => "answers", :action => "upvote", :question_id => @question,:id => answer) do
                  = icon(@tu_class_answer, 'thumbs-up', class:"text-success")
                %h3.text-secondary
                  -@answer_votes= Vote.where({votable_type: :Answer, votable_id:answer.id})
                  = @answer_votes = @answer_votes.select{|vote| vote.vote_flag}.size - @answer_votes.select{|vote| !vote.vote_flag}.size
                .row.pt-0
                = link_to(:controller => "answers", :action => "downvote", :question_id => @question,:id => answer) do
                  = icon(@td_class_answer, 'thumbs-down', class:"text-danger")  
                -if user_signed_in?
                  -if @question.user_id == current_user.id && @question.answers.where(status:"accepted").empty?
                    .row
                    = link_to "#{@question.id}/answers/#{answer.id}",method: :put do
                      = icon("far","check-square")
                  -if @question.user_id == current_user.id && answer.status == "accepted"
                    .row
                    = link_to "#{@question.id}/answers/#{answer.id}",method: :put do
                      = icon("fas","check", class:"fa-1x text-success text-right")
                  - elsif answer.status == "accepted"
                    = icon("fas","check", class:"fa-1x text-success text-right")
                -elsif answer.status == "accepted"
                  = icon("fas","check", class:"fa-1x text-success text-right")
        
              .col-9.max
                = sanitize(answer.body).html_safe
              .col-11.text-right.small
                = answer.user.first_name + " " + answer.user.last_name
      %hr.mt-5          
      %h5.pt-4.border-bottom.pb-3 
        Tu Respuesta
        .row.pt-4
          .col-12
            = render 'formanswer'
  
    .col-4  
      .card.position-fixed.ml-4.colorexample.p-3.relacionadas
        %h5.mb-4.text-center Preguntas relacionadas
        - i = []
        - @relatedQuestions.each do |question|
          %h6
            .small.mb-2
              = link_to truncate(question.title, length:70), question_path(question)
              - i.push('newtag')
              -break if i.length > 8

            
         
