%p#notice= notice

%p
  %b Status:
  = @answer.status
%p
  %b Body:
  = @answer.body
%p
  %b User:
  = @answer.user
%p
  %b Question:
  = @answer.question

= link_to 'Edit', edit_answer_path(@answer)
\|
= link_to 'Back', answers_path
