/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 @import "bootstrap";
 @import "select2-bootstrap";
 @import "trix";
 @import "font-awesome-sprockets";
 @import "font-awesome";


 .errorstyle {
     height: 4rem
 }

 body {
    font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
 }

.formatted_content.trix-content.form-control {
    min-height: 20rem;
}

.estilodeltitulo {
    font-size: 1.7rem;
    color: rgb(87, 87, 87);
}

.tableshadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.estilochill :hover {
    max-width: 84%;
    border-bottom: 0.2rem gray solid;
    padding-bottom: 2rem;
}

.estilochill2 :hover {
    max-width: 84%;
    border-bottom: 0.2rem gray solid;
    padding-bottom: 2rem;
}

.relacionadas {
    max-width: 24%;
    max-height: 28rem;
}

.estilochill {
    color: rgb(87, 87, 87);
    position: absolute;
    width: 84%;
    margin-top: -0.8rem;
    padding-left: 3px;
    display: inline-block;
}

.estilochill2 {
    color: #575757;
    position: absolute;
    width: 84%;
    margin-top: -0.8rem;
}

.fas.fa-sign-out-alt {
    margin-top: 0.4rem;
}

a:hover {
    text-decoration: none;
}

#exampletitle {
    position: fixed;
    width: 22rem;
}

.noblanco {
    background-color: #FBF7F4;
}


#examplebody{
   display:none;
   position: fixed;
   width: 22rem;

}

#exampletags{
   display: none;
   position: fixed;
   width: 22rem;
}

.colorexample{
    background-color: rgb(255, 248, 248);
    font-size: 14px;
}

.help{
    border-top:0.1rem solid lightgrey;
    border-bottom:0.1rem solid lightgray;
}



.table {
    border-top:none;
}

#popular{
    background-color: #828ea8;
}

#last{
    background-color: #828ea8;
}

#popular:hover{
    cursor: pointer;
    background-color: #0256b1
}

#last:hover{
    cursor: pointer;
    background-color: #0256b1
}

body{
    background-color: #F6F2EF
}

#editor {
    min-height: 20rem;
    width: 100%;
}

#browser {
    min-height: 20rem;
    width: 100%;
}

.js-example-basic-multiple{
    width:200px
}

.tagstyle{
    background-color: #E1ECF4;
    color:#587AB5;
    font-size: 0.8rem;
}

.max{
    max-width: 710px;
}

.imageContainer{
    height: 25rem
}

.iconoedit {
    color: #603a71;
}

.pagination{
    justify-content: center;
   
}

.page-item.active .page-link{
    background-color: #828ea8; 
    border-color: #828ea8;
}

.categorys{
    margin-bottom: -0.05rem;
    z-index: 1;
}