.container-fluid
   %nav.row.navbar.navbar-light.p-1{:style => "background-color: white;"}
      %a.navbar-brand.col-3.mr-5.mt-1.ml-2{:href => questions_path}
         %img.d-inline-block{:alt => "Logo", :src => "/assets/logo.svg", :height => "55px"}
         %p.d-inline-block.estilodeltitulo.mt-2
            %strong DevtoHackOverflow
      .col-5
         = form_tag root_path, :method => 'get' do
            %p.mt-3.text-right
               = text_field_tag :search, params[:search], id:"searchText", class:"form-control"
               = submit_tag "Buscar", :name => nil, id:"searchButton",:style => "display:none"
      .col-2
         -if user_signed_in?
            = link_to destroy_user_session_path, method: :delete do
               .row.estilochill2
                  %h5{style:"display: inline-block;"} Cerrar sesion
                  = icon('fas', 'sign-out-alt')
         -else 
            = link_to new_user_session_path do
               .row.estilochill
                  %h5{style:"display: inline-block;"} Iniciar sesion
                  = icon('fas', 'user-circle',style:"margin-top: 0.4rem;")
